/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

html { 
  background: url(../images/flowers-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
/*
 * Fixed nav
 * --------------------------------------------------
 */
body {
  background-color: transparent;
  font-family: 'Flamenco', cursive; 
}

/*global styles*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
hr {
	margin: 10px 0px;
}

/*home styles*/

.navbar {
	background-color: transparent;
	border: none;
	font-size: 18px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
  outline-style: none;
}
.navbar-default .navbar-nav > li.active,
.navbar-default .navbar-nav > li.active:hover,
.navbar-default .navbar-nav > li.active:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  outline-style: none;
}

.header {font-size: 22px; color: #FFF; border-bottom: none;}
.header h1 {font-size: 55px;}

/*Venue styles*/
#map-canvas { height: 400px; }
#map-canvas2 { height: 400px; }

/*GuestBook styles*/
.guestbook-heading {
	font-size: 18px;
}