/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  background-color: #7b141f;
  height: 100%;
}

body {
  background-color: transparent;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Flamenco', cursive;
  font-size: 18px; 
}

/*global styles*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
hr {
	margin: 10px 0px;
}

/*home styles*/

.navbar {
	background-color: transparent;
	border: none;
	font-size: 22px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
  outline-style: none;
}
.navbar-default .navbar-nav > li.active,
.navbar-default .navbar-nav > li.active:hover,
.navbar-default .navbar-nav > li.active:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  outline-style: none;
}

.header {font-size: 22px; color: #FFF; border-bottom: none;}
.header h1 {font-size: 55px;}
.live-video-container iframe {
	width: 480px;
	height: 302px;
}
.live-video-container a {
	width: 400px;
}

@media (max-width: 550px) {
	.live-video-container iframe {
		width: 360px;
		height: 235px;
	}
	.live-video-container a {
		width: 280px;
	}
	.well {
		padding: 5px 5px;
	}
}

/*Venue styles*/
#map-canvas { height: 400px; }
#map-canvas2 { height: 400px; }

/*GuestBook styles*/
.guestbook-heading {
	font-size: 18px;
}