<h3>Wedding Cards</h3>
<div class="row">
	<div class="col-md-12">
	  <div>
	    <carousel interval="myInterval">
	      <slide ng-repeat="slide in slides1" active="slide.active">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	      </slide>
	    </carousel>
	  </div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-12">
	  <div>
	    <carousel interval="myInterval">
	      <slide ng-repeat="slide in slides2" active="slide.active">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	      </slide>
	    </carousel>
	  </div>
	</div>
</div>