<h3>The Groom</h3>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<carousel interval="myInterval">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		      </slide>
		    </carousel>
	    </div>
		<p><strong>Born: July 15 1983 (Agraharam Village, Nellore DT)</strong><br/>I was born to Namburu Mastanaiah and Suguna. I was only child for them until I was 9 years old. Being the only child for those many years, I was most pampered and got unprecedented love from my parents/Grand Parents/Relatives. I thank both of them in everything. When I was 9 I was blessed with a lovely brother.</p>
		<p><strong>My Graduate Studies, Gods Own Land (Alaska) and Years of Professional Engineering:</strong><br/>I was the most excited when i landed in Fairbanks, Alaska. Finishing Graduate school with decent research abilities, fetched me a job in ESAB welding and cutting products in Florence, SC. ESAB has long history of designing and developing metal cutting products. After 3 years working at ESAB i was offered a job in KALIBURN ,in Charleston, SC as their senior design engineer. </p>
		<p><strong>About Bride and Family:</strong><br/>My Parents are always tensed about my marriage even tough I was doing well personally and professionally. From my child hood I was mentally prepared that my marriage will be strictly arranged, As I know I have two friends as LOVING PARENTS. My Parents got me in touch with Bhanu and their parents, that's where its all started. I liked Bhanu's practical outlook in life along with caring, affectionate and discipline. Also I truly liked Bhanu's loving Family. </p>
	</div>
</div>
<hr/>